*, *:after, *:before { vertical-align: middle; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; font-size: 16px; text-align: center; font-family: "Noto Sans TC", "Roboto", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }
body::-moz-selection { color: white; background-color: #78baff; }
body::selection { color: white; background-color: #78baff; }

a { color: black; cursor: pointer; text-decoration: none !important; }
a:after, a:before { color: black; vertical-align: middle !important; }
a:hover { text-decoration: underline; }

button, select { outline: none !important; box-shadow: none !important; border-width: 0; }

p { margin-bottom: 0; }

header { position: relative; background: linear-gradient(to bottom, #79c4f0 0%, #bce2f7 81%, #bde2f7 81%); }
header .navbar { position: relative; padding: 1rem 0; z-index: 1; }
@media (max-width: 992px) { header .navbar { z-index: 1050; } }
header .navbar .container { display: flex; justify-content: space-between; align-items: center; }
header .navbar-left { display: flex; align-items: center; }
header .navbar-left .navbar-brand img { height: 50px; }
@media (max-width: 768px) { header .navbar-left .navbar-brand img { height: 40px; } }
header .navbar-left .social-links { display: flex; gap: 0.5rem; }
@media (max-width: 768px) { header .navbar-left .social-links { gap: .5rem; } }
header .navbar-left .social-links .social-link { color: #fbb03b; font-size: 1.25rem; transition: color 0.3s ease; }
header .navbar-left .social-links .social-link:hover { color: #fa9c09; }
header .navbar-right { display: flex; align-items: center; }
header .navbar-right .action-buttons { display: flex; align-items: center; gap: 1rem; }
@media (max-width: 992px) { header .navbar-right .action-buttons { margin-right: 12px; flex-direction: column; align-items: flex-start; } }
header .navbar-right .action-buttons .nav-link { color: #FFFFFF; text-decoration: none; transition: color 0.3s ease; text-shadow: rgba(48, 56, 65, 0.5) 1px 2px 2px; }
header .navbar-right .action-buttons .nav-link:first-of-type { position: relative; }
header .navbar-right .action-buttons .nav-link:first-of-type:after { content: ''; position: absolute; top: 50%; right: -0.5rem; transform: translateY(-50%) translateX(50%); display: inline-block; width: 4px; height: 4px; border-radius: 50%; background-color: #FFFFFF; }
header .navbar-right .action-buttons .nav-link:hover { color: #fbb03b; text-shadow: transparent 1px 2px 2px; }
header .navbar-right .action-buttons .btn { padding: 0.3rem 1.5rem 0.4rem 1.5rem; text-decoration: none; border-radius: 0; color: #FFFFFF; font-weight: 400; text-shadow: rgba(48, 56, 65, 0.5) 1px 2px 2px; }
@media (max-width: 768px) { header .navbar-right .action-buttons .btn { padding: 0.3rem .8rem 0.4rem .8rem; } }
header .navbar-right .action-buttons .btn-login { background-color: #ffab3b; box-shadow: 5px -5px 0 #f08d3e inset, -5px 5px 0 #f7c766 inset; }
header .navbar-right .action-buttons .btn-login:hover { box-shadow: 5px -5px 0 rgba(240, 141, 62, 0.5) inset, -5px 5px 0 rgba(247, 199, 102, 0.5) inset; }
header .navbar-right .action-buttons .btn-search { background-color: #c4965f; box-shadow: 5px -5px 0 #ba7c41 inset, -5px 5px 0 #dcb97c inset; }
header .navbar-right .action-buttons .btn-search:hover { box-shadow: 5px -5px 0 rgba(186, 124, 65, 0.5) inset, -5px 5px 0 rgba(220, 185, 124, 0.5) inset; }
header .navbar-right .btn-mobile-menu { padding: 0.2rem .8rem 0.3rem .8rem; border-radius: 0; background-color: #c4965f; box-shadow: 5px -5px 0 #ba7c41 inset, -5px 5px 0 #dcb97c inset; text-shadow: rgba(48, 56, 65, 0.5) 1px 2px 2px; }
header .navbar-right .btn-mobile-menu i { color: #FFFFFF; font-size: .9rem; }
header .navbar-right .btn-mobile-menu i:before { transform: scale(1.5); }
header .navbar-right .btn-mobile-menu:hover { box-shadow: 5px -5px 0 rgba(186, 124, 65, 0.5) inset, -5px 5px 0 rgba(220, 185, 124, 0.5) inset; }
header .navbar-right #offcanvasNavbar { background-color: #FEFBF0; max-width: 60%; }
header .navbar-right #offcanvasNavbar .offcanvas-body > div { padding-bottom: 1rem; }
header .navbar-right #offcanvasNavbar .offcanvas-body > div:not(:first-child) { padding-top: 1rem; }
header .navbar-right #offcanvasNavbar .offcanvas-body > div:not(:last-child) { border-bottom: 2px dashed #ffce87; }
header .hero-section { position: relative; z-index: 1; }
header .hero-section .container { position: relative; z-index: 2; }
header .hero-section h1 { position: relative; z-index: 1; }
header .category-section { position: relative; margin: 0 auto; z-index: 1; background-color: #FFFFFF; }
header .category-section .category-col:hover .default-img, header .category-section .category-col.active .default-img { display: none; }
header .category-section .category-col:hover .active-img, header .category-section .category-col.active .active-img { display: block; }
header .category-section .category-col:nth-of-type(1) { order: 1; }
header .category-section .category-col:nth-of-type(2) { order: 2; }
header .category-section .category-col:nth-of-type(3) { order: 3; }
header .category-section .category-col:nth-of-type(4) { order: 4; }
header .category-section .category-col:nth-of-type(5) { order: 5; }
header .category-section .category-item { flex-basis: calc(20%); padding: 0; text-align: center; cursor: pointer; }
header .category-section .category-item .default-img { display: block; }
header .category-section .category-item .active-img { display: none; }
header .category-section .category-item picture { display: block; }
header .category-section .category-item img { max-width: 100%; height: auto; }
header .cloud-bg { position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; overflow: hidden; margin-bottom: 35px; }
@media (max-width: 768px) { header .cloud-bg { margin-bottom: 11px; } }
header .cloud-bg:after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: 50%; background-color: white; z-index: 0; }
header .cloud-bg img { width: 100%; height: 100%; }
@media (max-width: 1200px) { header .cloud-bg img { object-fit: contain; } }

.brown { color: #6e4435; }

.h-22 { height: 22px; }

.w-10 { width: 10%; }

.text-shadow-sm { text-shadow: rgba(48, 56, 65, 0.5) 1px 2px 2px; }

.category-section { max-width: 1080px; margin: 0 auto; }

@media (max-width: 1920px) { .cloud-bg img { object-fit: contain; } }

main { position: relative; z-index: 1; }
main .featured-section h3 { padding: 0 2rem; }
main .featured-section .swiper { padding-bottom: 2rem; }
main .featured-section .swiper .swiper-slide { padding: 0 2rem; }
main .featured-section .swiper.featured-book-swiper .featured-item { border: 4px solid #F0B154; }
main .featured-section .swiper.featured-book-swiper .swiper-button-prev, main .featured-section .swiper.featured-book-swiper .swiper-button-next { color: #F0B154; }
main .featured-section .swiper.featured-video-swiper .featured-item { border: 4px solid #E39DA7; }
main .featured-section .swiper.featured-video-swiper .featured-item img { object-fit: cover; }
main .featured-section .swiper.featured-video-swiper .swiper-button-prev, main .featured-section .swiper.featured-video-swiper .swiper-button-next { color: #E39DA7; }
main .featured-section .swiper.featured-video-swiper .swiper-pagination .swiper-pagination-bullet-active { background-color: #E39DA7; }
main .featured-section .swiper .swiper-button-prev { left: 0; }
main .featured-section .swiper .swiper-button-prev:after { font-size: 2rem; }
main .featured-section .swiper .swiper-button-next { right: 0; }
main .featured-section .swiper .swiper-button-next:after { font-size: 2rem; }
main .featured-section .swiper .swiper-pagination { bottom: 0; }
main .featured-section .swiper .swiper-pagination .swiper-pagination-bullet-active { background-color: #F0B154; width: 1rem; border-radius: 2rem; }
main .featured-section .featured-item { position: relative; width: 100%; aspect-ratio: 16 / 9; overflow: hidden; border-radius: 1rem; }
main .featured-section .featured-item img { width: 100%; height: 100%; object-fit: contain; object-position: center; }
main .featured-section .featured-item .featured-content { position: absolute; bottom: 0; left: 0; right: 0; padding: 0.5rem 1rem; }
main .featured-section .featured-item .featured-content span { display: block; padding: 0.5rem; margin: 0; text-align: left; color: #FFFFFF; background-color: rgba(0, 0, 0, 0.7); }
main .carousel-section { margin-top: 4rem; background-color: #A4D3AD; position: relative; }
main .carousel-section .footer_bg { position: absolute; top: 50%; transform: translateY(-50%); z-index: 0; }
@media (max-width: 768px) { main .carousel-section .footer_bg { height: calc(100% + 1.5rem); } }
@media (max-width: 768px) { main .carousel-section .footer_bg img { width: 100%; height: 100%; } }
main .carousel-section .footer_bg_left { left: -40px; }
@media (max-width: 768px) { main .carousel-section .footer_bg_left { left: 0; } }
main .carousel-section .footer_bg_right { right: -40px; transform: translateY(-50%) rotate(180deg); }
@media (max-width: 768px) { main .carousel-section .footer_bg_right { right: 0; } }
main .carousel-section .footer_tree { position: absolute; top: 0; transform: translateY(-100%); right: 0; z-index: 0; }
main .carousel-section .carousel-swiper:before, main .carousel-section .carousel-swiper:after { content: ''; position: absolute; top: 0; width: 15%; height: 100%; z-index: 2; pointer-events: none; }
main .carousel-section .carousel-swiper:before { left: 0; background: linear-gradient(to right, #a4d3ad 0%, rgba(164, 211, 173, 0) 100%); }
main .carousel-section .carousel-swiper:after { right: 0; background: linear-gradient(to left, #a4d3ad 0%, rgba(164, 211, 173, 0) 100%); }
main .carousel-section .carousel-item { position: relative; width: 100%; aspect-ratio: 16 / 9; overflow: hidden; border-radius: 1rem; }
main .carousel-section .carousel-item a { display: block; }
main .carousel-section .carousel-item img { width: 100%; height: 100%; object-fit: contain; object-position: center; }

footer { background-color: #fffdf9; }
@media (max-width: 768px) { footer { text-align: center; } }
footer .copyright { color: #6e4435; font-size: .8rem; margin: 0; }
