// 變數定義
$primary: #fbb03b; // 橘色
$primary2: #d89032; // 深橘色
$success: #4CAF50; // 綠色
$white: #FFFFFF;
$gray-700: #495057;

$pink: #f09aa8;
$pink2: #dd7a8d;

$blue: #56ace2;
$blue2: #3e99c6;

$green: #75cc92;
$green2: #4aaf64;

$purple: #c38ccf;
$purple2: #bd7fcc;


$border-radius: 1rem;

$brown: #6e4435; // 咖啡色
$yellow-light: #fffdf9;

// 斷點設定
$breakpoints: (
  xxs: 320px,
  xs: 375px,
  s: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1440px,
  3xl: 1920px,

);

// Mixins
@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin hover-scale {
  transition: all .3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

@import "Ginkgo";

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: rgba(90, 90, 90, 1.00);

  font-size: 16px;
  text-align: center;
  font-family: "Noto Sans TC", "Roboto", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  
  // 文字染色，背景色、文字色
  @include selection(rgba(120, 186, 255, 1.00), rgba(255, 255, 255, 1));
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none !important;

  &:after,
  &:before {
    color: black;
    vertical-align: middle !important;
  }

  &:hover {
    text-decoration: underline;
  }
}

select{
  outline: none !important;
  box-shadow: none !important;
  border-width: 0;
}

p {
  margin-bottom: 0;
}


// 導航欄
header {
	position: relative;
	background: linear-gradient(to bottom, rgba(121, 196, 240, 1.00) 0%, rgba(188, 226, 247, 1.00) 81% , rgba(189, 226, 247, 1.00) 81%);

  // 導航區塊
	.navbar {
    position: relative;
    padding: 1rem 0;
    z-index: 1;

    @include media-breakpoint-down(lg) {
      z-index: 1050;
    }
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    // 左側區域
    &-left {
      display: flex;
      align-items: center;
    
      .navbar-brand {
        img {
          height: 50px;
          
          @include media-breakpoint-down(md) {
            height: 40px;
          }
        }
      }
			
      .social-links {
      display: flex;
      gap: 0.5rem;
      
        @include media-breakpoint-down(md) {
          gap: .5rem;
        }
			
				.social-link {
					color: $primary;
					font-size: 1.25rem;
					transition: color 0.3s ease;
			
					&:hover {
					  color: darken($primary, 10%);
					}
				}
      }
    }
		
    // 右側區域
    &-right {
      display: flex;
      align-items: center;
    
      .action-buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
      
        @include media-breakpoint-down(lg) {
          margin-right: 12px;
          flex-direction: column;
          align-items: flex-start;
        }
    
        .nav-link {
          cursor: pointer;
          color: $white;
          text-decoration: none;
          transition: color 0.3s ease;
          text-shadow: rgba(48, 56, 65, .5) 1px 2px 2px;
      
          // 1205 nav-link 第一個第二個後加偽元素圓點
          &:first-of-type, &:nth-of-type(2) {
            position: relative;
        
            &:after {
              content: '';
              position: absolute;
              top: 50%;
              right: -0.5rem;
              transform: translateY(-50%) translateX(50%);
              display: inline-block;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: $white;
              // margin: 0 0.5rem;
            }
          }   
      
          &:hover {
            color: $primary;
            text-shadow: rgba(0, 0, 0, .0) 1px 2px 2px;
          }
        }
      }

      .btn-mobile-menu {
        padding: 0.2rem .8rem 0.3rem .8rem;
        border-radius: 0;
        background-color: rgba(196, 150, 95, 1.00);
        box-shadow: 5px -5px 0 rgba(186, 124, 65, 1.00) inset,
            -5px 5px 0 rgba(220, 185, 124, 1.00) inset;
        text-shadow: rgba(48, 56, 65, .5) 1px 2px 2px;

        i {
          color: $white;
          font-size: .9rem;

          &:before {
            transform: scale(1.5);
          }
        }

        &:hover {
          box-shadow: 5px -5px 0 rgba(186, 124, 65, .5) inset,
        -5px 5px 0 rgba(220, 185, 124, .5) inset;
        }
      }

      #offcanvasNavbar {
        background-color: #FEFBF0;
        max-width: 60%;

        .offcanvas-body {
          > div {
            padding-bottom: 1rem;

            &:not(:first-child) { 
              padding-top: 1rem; 
            }

            &:not(:last-child) {
              border-bottom: 2px dashed #ffce87;
            }
          }
        } 
      }
    }
	}

	// 標題區塊
	.hero-section {
		position: relative;
		z-index: 1;

    &:after {
      @include media-breakpoint-down(md) {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: white;
      }

      @include media-breakpoint-down(lg) {
        height: 60%;
      }
    }

		.container {
			position: relative;
			z-index: 2;
		}

		h1 {
			position: relative;
      margin-bottom: 0;
			z-index: 1;
		}
	}

  // 分類區塊
	.category-section {
		position: relative;
		margin: 0 auto;
		z-index: 1;
		background-color: $white;

    .category-col {
      &:hover, &.active {
        .default-img {
					display: none;
				}

				.active-img {
          display: block;
        }
      }

      &:nth-of-type(1) {
        order: 1;
      }

      &:nth-of-type(2) {
        order: 2;
      }

      &:nth-of-type(3) {
        order: 3;
      }

      &:nth-of-type(4) {
        order: 4;
      }

      &:nth-of-type(5) {
        order: 5;
      }
    }
	  
		.category-item {
			flex-basis: calc(20%);
			padding: 0;
      text-align: center;
			cursor: pointer;
			
			.default-img {
				display: block;
			}

			.active-img {
				display: none;
			}

			picture {
				display: block;
			}

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}

  // 雲朵背景
	.cloud-bg {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;

    @include media-breakpoint-down(md) {
      top: 0;
      bottom: auto;
    }

		img {
			width: 100%;
			height: 100%;
      object-fit: contain;
		}
	}
}



// color
.brown {
  color: $brown;
}



// other
.h-22 {
  height: 22px;
}
.w-10 {
  width: 10%;
}

.border-orange, .border-pink, .border-blue, .border-green, .border-purple {
  height: 3px;
  content: '';
  background-repeat: repeat-x;
}

.border-orange {
  background-image: url(../images/doll-orange.svg);
}

.border-pink {
  background-image: url(../images/doll-pink.svg);
}
.border-blue {
  background-image: url(../images/doll-blue.svg);
}
.border-green {
  background-image: url(../images/doll-green.svg);
}
.border-purple {
  background-image: url(../images/doll-purple.svg);
}
.list-bg-unit01 {
  background-color: #FEFBEF;
}
.list-bg-unit02 {
  background-color: #F7E8EA;
}
.list-bg-unit03 {
  background-color: #DFECF2;
}
.list-bg-unit04 {
  background-color: #E4F4E9;
}
.list-bg-unit05 {
  background-color: #F2EAF4;
}



// text
.text-shadow-sm {
  text-shadow: rgba(48, 56, 65, .5) 1px 2px 2px;
}


//btn+link
.title-slash01, .title-slash02, .title-slash03, .title-slash04, .title-slash05 {
  display: inline-block;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  @include border-radius(30px);
  padding: .5rem;
}
.title-slash01 {
  text-shadow: rgba(240, 141, 62, .8) 1px 2px 2px;
  box-shadow: 0 -5px 0 $primary2 inset;
  background: repeating-linear-gradient(
                    130deg, 
                    $primary 0 13px,
                    rgba(250, 189, 94, 1.00) 0 25px);
}
.title-slash02 {
  text-shadow: rgba(198, 102, 125, .8) 1px 2px 2px;
  box-shadow: 0 -5px 0 $pink2 inset;
  background: repeating-linear-gradient(
                    130deg, 
                    $pink 0 13px,
                    rgba(241, 171, 181, 1.00) 0 25px);
}
.title-slash03 {
  text-shadow: rgba(36, 103, 137, .8) 1px 2px 2px;
  box-shadow: 0 -5px 0 $blue2 inset;
  background: repeating-linear-gradient(
                    130deg, 
                    $blue 0 13px,
                    rgba(118, 186, 227, 1.00) 0 25px);
}
.title-slash04 {
  text-shadow: rgba(46, 117, 61, .8) 1px 2px 2px;
  box-shadow: 0 -5px 0 $green2 inset;
  background: repeating-linear-gradient(
                    130deg, 
                    $green 0 13px,
                    rgba(142, 211, 163, 1.00) 0 25px);
}
.title-slash05 {
  text-shadow: rgba(143, 93, 155, .8) 1px 2px 2px;
  box-shadow: 0 -5px 0 $purple2 inset;
  background: repeating-linear-gradient(
                    130deg, 
                    $purple 0 13px,
                    rgba(205, 160, 212, 1.00) 0 25px);
}

// 1205 導航欄按鈕
.nav-btn {
  padding: 0.3rem 1.5rem 0.4rem 1.5rem;
  text-decoration: none;
  border-radius: 0;
  color: $white;
  font-weight: 400;
  text-shadow: rgba(48, 56, 65, .5) 1px 2px 2px;

  @media (max-width: 768px) {
    padding: 0.3rem .8rem 0.4rem .8rem;
  }

  &-login {
    background-color: rgba(255, 171, 59, 1.00);
    box-shadow: 5px -5px 0 rgba(240, 141, 62, 1.00) inset,
    -5px 5px 0 rgba(247, 199, 102, 1.00) inset;

    &:hover {
      box-shadow: 5px -5px 0 rgba(240, 141, 62, .5) inset,
    -5px 5px 0 rgba(247, 199, 102, .5) inset;
    }
  }
  
  &-search {
    background-color: rgba(196, 150, 95, 1.00);
    box-shadow: 5px -5px 0 rgba(186, 124, 65, 1.00) inset,
    -5px 5px 0 rgba(220, 185, 124, 1.00) inset;

    &:hover {
      box-shadow: 5px -5px 0 rgba(186, 124, 65, .5) inset,
    -5px 5px 0 rgba(220, 185, 124, .5) inset;
    }
  }
}

