@import "Ginkgo";
@import "public";

.loginbox-650 {
	display: inline-block;
	max-width: 100%;
	width: 650px;
}

.planboxs {
	display: inline-block;
	width: 100%;
	background-color: rgba(255, 252, 236, 1.00);
	border: 8px solid #c9a681;
	padding: 15px;
	@include border-radius(20px);
	
	&.pink {
		border: 8px solid rgba(254, 149, 167, 1.00);
	}

  &.purple {
    border: 8px solid rgba(195, 140, 207, 1.00);
  }
}

.planboxs-link {
  display: inline-block;
  width: 100%;
  background-color: rgba(255, 252, 236, 1.00);
  border: 8px solid #c9a681;
  padding: 15px;
  @include border-radius(20px);
  
  &.pink {
    &:hover, &.active {
      border: 8px solid rgba(254, 149, 167, 1.00);
    }
  }

  &.purple {
    &:hover, &.active {
      border: 8px solid rgba(195, 140, 207, 1.00);
    }
  }
}


.step {
  counter-reset:step;

  li {
    list-style-type: none;
    float:left;
    width: 33.33%;
    position:relative;
    text-align:center;
    font-size: .8rem;
    color: rgba(231, 198, 172, 1.00);

    &.active {
      color: #c4965f;

      &:before {
        color: white;
        border-color: rgba(204, 149, 85, 1.00);
      }
    }

    &:first-child {

      &:after {
        content:none;
      }
    }

    &:before {
      content:counter(step);
      counter-increment: step;
      width: 68px;
      height: 68px;
      line-height:65px;
      display:block;
      text-align:center;
      margin:0 auto 10px auto;
      border-radius:50%;
      background-color: rgba(204, 149, 85, 1.00);
      color: rgba(231, 198, 172, 1.00);
      font-size: 2.25rem;
      font-weight: bolder;
    }

    &:after {
      content:"";
      position:absolute;
      width: 100%;
      height:10px;
      background-color: rgba(204, 149, 85, 1.00);
      top: 30px;
      left: -50%;
      z-index:-1;
    }
  }
}

.step li.active + li:after {
  background-color: rgba(204, 149, 85, 1.00);
}


ul {
  padding-left: 1rem !important;
}

.tablebox {
  font-weight: bolder;
  background-color: rgba(201, 166, 129, 1.00);
  padding: .5rem 1rem;
  color: white;
  @include border-radius(50px);
  font-size: .8rem;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.table {
  padding: 1rem;
  color: #5e5e5e;
  font-size: .9rem;
  border-bottom: 1px solid rgba(207, 177, 144, 1.00);

  > div {
    color: #5e5e5e;
    font-size: .9rem;

    @include media-breakpoint-down(md) {
      text-align: left;

      &:before {
        display: inline-block;
        content:attr(title);
        vertical-align: baseline;
        font-weight: bolder;
        color: $brown;
      }
    }
  }
}





